@model IEnumerable<LinkHub.BOL.tbl_User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("UserEmail", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "UserEmail" })
            @*@Html.DisplayNameFor(model => model.UserEmail)*@
        </th>
        <th>
            @Html.ActionLink("Role", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "Role" })
            @*@Html.DisplayNameFor(model => model.Role)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
    </tr>
}
</table>

@{
    double totalPage = @ViewBag.TotalPages;
}
<nav>
    <ul class="pagination">
        @for (int i = 1; i <= totalPage; i++)
        {
            <li class="@(ViewBag.Page == i ? "active" : string.Empty)">@Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.SortBy == null ? "Title" : ViewBag.SortBy), Page = i })</li>
        }
    </ul>
</nav>
