@model LinkHub.BOL.QuickURLSubmitModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*scripts para realizar validação no cliente, basta acrescentá-los e verificar condição no web.config*@
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<h2>Quicly Submit URL</h2>

@if (TempData["Msg"] != null)
{
    <h3>@TempData["Msg"].ToString()</h3>
}

@using (Html.BeginForm("Create", "QuickURLSubmit", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.User.UserEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.User.UserEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.User.UserEmail, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Url.CategoryId, "CategoryId", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("Url.CategoryId", (IEnumerable<SelectListItem>)ViewBag.CategoryID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Url.CategoryId, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Url.UrlTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Url.UrlTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Url.UrlTitle, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Url.Url, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Url.Url, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Url.Url, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
