@model IEnumerable<LinkHub.BOL.tbl_Url>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {

        $(document).ajaxStart(function () {
            $("#loading").show();
        });

        $(document).ajaxStop(function () {
            $("#loading").hide();
        });

        BindSelectAll();

        $("#Approve").click(function () {
            checkedIds = $(".ckb").filter(":checked").map(function () { return this.id; });

            $.ajax({
                type: "POST",
                url: "@Url.Action("ApproveOrRejectAll", "ApproveURLs")",
                tradition: true,
                data: { Ids: checkedIds.toArray(), Status: "A", CurrentStatus: "@ViewBag.Status" },
                success: successFunc,
                error: errorFunc
            });
        });

        $("#Reject").click(function () {
            checkedIds = $(".ckb").filter(":checked").map(function () { return this.id; });

            alert("HI" + checkedIds[0] + "," + checkedIds[1]);
            $.ajax({
                type: "POST",
                url: "@Url.Action("ApproveOrRejectAll", "ApproveURLs")",
                tradition: true,
                data: { Ids: checkedIds.toArray(), Status: "R", CurrentStatus: "@ViewBag.Status" },
                success: successFunc,
                error: errorFunc
            });
        });

        function successFunc(data, status) {
            $("#Partial").html(data);
            BindSelectAll();
        }

        function errorFunc() {
            alert('error');
        }

        function BindSelectAll() {
            $("#selectall").click(function (event) { // on click
                if (this.checked) { // check select status
                    $(".ckb").each(function () { // loop through each checkbox
                        this.checked = true; // select all checkboxes with class "ckb"
                    });
                } else {
                    $(".ckb").each(function () { // loop through each checkbox
                        this.checked = false; // deselect all checkboxes with class "ckb"
                    });
                }
            });
        }

    });

    function ConfirmApprove() {
        return confirm("Area you sure you want to approve it?");
    }
    function ConfirmReject() {
        return confirm("Are you sure you want to reject it?");
    }
</script>

<h2>Manage URLs</h2>

<div id="loading" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Loading...</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li role="presentation" class="@(ViewBag.Status == "P" ? "active" : string.Empty)">@Html.ActionLink("Pending", "Index", new { status = "P" })</li>
    <li role="presentation" class="@(ViewBag.Status == "A" ? "active" : string.Empty)">@Html.ActionLink("Approved", "Index", new { status = "A" })</li>
    <li role="presentation" class="@(ViewBag.Status == "R" ? "active" : string.Empty)">@Html.ActionLink("Rejected", "Index", new { status = "R" })</li>
</ul>

<br />

<div id="partialView">
    @Html.Partial("Partial", Model)
</div>

<input type="button" id="Approve" value="Approve" class="btn btn-primary" />
| 
<input type="button" id="Reject" value="Reject" class="btn btn-primary" />