@model IEnumerable<LinkHub.BOL.tbl_Url>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function ConfirmApprove() {
        return confirm("Area you sure you want to approve it?");
    }
    function ConfirmReject() {
        return confirm("Are you sure you want to reject it?");
    }
</script>

<h2>Manage URLs</h2>

@if (TempData["Msg"] != null)
{
    <h4>@TempData["Msg"].ToString()</h4>
}

<ul class="nav nav-tabs">
    <li role="presentation" class="@(ViewBag.Status == "P" ? "active" : string.Empty)">@Html.ActionLink("Pending", "Index", new { status = "P" })</li>
    <li role="presentation" class="@(ViewBag.Status == "A" ? "active" : string.Empty)">@Html.ActionLink("Approved", "Index", new { status = "A" })</li>
    <li role="presentation" class="@(ViewBag.Status == "R" ? "active" : string.Empty)">@Html.ActionLink("Rejected", "Index", new { status = "R" })</li>
</ul>

<br />

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>Approve/Reject</th>
            <th>
                @Html.DisplayNameFor(model => model.UrlTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_User.UserEmail)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Approve", "ChangeStatus", new { id = item.UrlId, status = "A" }, new { onclick = "return ConfirmApprove()" }) |
            @Html.ActionLink("Reject", "ChangeStatus", new { id = item.UrlId, status = "R" }, new { onclick = "return ConfirmReject()" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_User.UserEmail)
                </td>
                @*        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UrlId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UrlId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UrlId })
        </td>*@
            </tr>
        }

    </table>
</div>
